---
export const prerender = false;
const { deck_id } = Astro.props;
import { db, eq, Deck } from "astro:db"
import { getSession } from "auth-astro/server"
import { actions } from "astro:actions"
const session = await getSession(Astro.request)

const deck = (await db.select().from(Deck).where(eq(Deck.id, deck_id)))[0]

---

<dialog id={`modal_deck_delete_${deck_id}`} class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <a class="font-bold text-lg">Delete {deck.name}?</a>
    <form class="delete-deck-form" action={actions.decks.deleteDeck} method="POST">
      <fieldset class="fieldset w-full">
        <label>This action can't be undone</label>
        <input value={session?.user?.email} type="hidden" name="user" />
        <input value={deck_id} type="hidden" name="deck" />
        <input type="submit" value="Delete" class="btn btn-error" />
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>